## Exbook Answers

###### By Joe

In [8]:
from exbook import book as eb
from functools import reduce
import numpy as np
import os

In [9]:
eb[0]

Define a function with two strings to be the input arguments. The output is
the summation of the numerical values of the input strings. For example, if
the input strings are "3.5"and "2.7", then the output is 6.2, as a floating
point number.

        Input1: str Input2: str Output: float
Test 1:         3.5         2.7           6.2

Data Type Conversion: Easy

In [10]:
def dtc(string1, string2):
    return float(string1) + float(string2)

In [11]:
eb[1]

Write a function to determine whether an integer is a palindrome. An integer
is a palindrome when it reads the same backward as forward. For example,
121 is a palindrome so the output is True, 10 is not a palindrome so the
output is False.

        Input1: int Output: bool
Test 1:         151         True
Test 2:          -5        False

Palindrome: Easy

In [12]:
def palindrome(x):
    if str(x) == str(x)[::-1]:
        return True
    else:
        return False

In [13]:
eb[2]

Write a function with a given argument n to return a list containing all
positive integers no larger than n, and these integers can be divided by 7
but can not be divided by 5. For example, if n=50, then the returned list
is [7, 14, 21, 28, 42, 49].

        Input1: int             Output: list
Test 1:          14                  [7, 14]
Test 2:          20                  [7, 14]
Test 3:          50  [7, 14, 21, 28, 42, 49]

Seven And Five: Easy

In [18]:
def sevenbutnotfive(x):
    
    divisible_by_7_but_not_by_5 = []
    
    numbers = np.arange(0, x+1, 1)
    
    for number in numbers:
        if (number % 7 == 0) & (number % 5 != 0):
            divisible_by_7_but_not_by_5.append(number)
    return divisible_by_7_but_not_by_5

In [19]:
eb[2].check(sevenbutnotfive)

You passed 7 of the 7 tests.
The solution is correct

In [20]:
eb[3]

Write a function to determine if a given positive integer n is a prime
number.For example, 37 is a prime number so the output is True, 10 is not
so the output is False.

        Input1: int Output: bool
Test 1:           6        False
Test 2:          47         True
Test 3:          53         True
Test 4:          61         True

Prime Number: Easy

In [21]:
def is_prime(x):
    if x == 1:
        return True
    elif x == 2:
        return True
    elif x == 3:
        return True
    elif x % 2 == 0:
        return False
    elif x == 5:
        return True
    elif x == 7:
        return True
    elif x % 3 == 0:
        return False
    elif x % 5 == 0:
        return False
    elif x % 7 == 0:
        return False
    else:
        return True

In [22]:
print(eb[4])

Given a positive integer n, write a function to return a list of prime
numbers that are no larger than n. For example, if n=20, then the returned
list is [2, 3, 5, 7, 11, 13, 17, 19].

        Input1: int                                  Output: list
Test 1:           1                                            []
Test 2:           2                                           [2]
Test 3:          30          [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]
Test 4:          40  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

Prime List: Medium

In [23]:
def prime_list (x):
    
    empty_list = []
    
    smaller_list=list(range(2,x+1))
    
    for number in smaller_list:
        if is_prime(number)==True:
            empty_list.append(number)
            
    return empty_list

In [24]:
eb[5]

A robot starts to move from the origin (0, 0) on a 2D plane. Given a squence
of moves, in terms of strings "L" for left, "R" for right, "U" for up, and
"D" for down, write a function to tell if the robot returns to the origin
(0, 0) after this sequence of moves. The output of the function is a boolean
value.

        Input1: str Output: bool
Test 1:          UD         True
Test 2:          LL        False

Robot: Easy

In [25]:
def robot(string):
    
    string=string.upper() 
    
    number_of_d=0
    number_of_u=0
    number_of_r=0
    number_of_l=0
    
    for i in string:
        if i=="D":
            number_of_d=number_of_d+1
        elif i=="U":
            number_of_u=number_of_u+1
        elif i=="L":
            number_of_l=number_of_l+1
        elif i=="R":
            number_of_r=number_of_r+1

    if (number_of_d == number_of_u)==True & (number_of_r==number_of_l)==True:
        return True
    else:
        return False

In [26]:
eb[6]

Given a list of numbers as the first input argument, write a function to
remove all items in the list that have the same value as the second input
argument. For example, if the first argument is [1, 3, 2, 2, 4, 2, 5] and
the second argument is given as 2, then the output is [1, 3, 4, 5], with
all 2s removed.

               Input1: list Input2: int  Output: list
Test 1:  [0, 1, 2, 3, 2, 5]           2  [0, 1, 3, 5]
Test 2:        [0, 1, 2, 3]           4  [0, 1, 2, 3]

Remove All: Easy

In [27]:
def remove_all(list1,integer):
    
    while (integer in list1)==True:
        list1.remove(integer)
    
    return list1

In [28]:
eb[7]

Given two equal length lists of unique numbers, write a function to return
the number of items in these two lists that have the same values and are
at the same positions. For example, if these two lists are [1, 2, 3, 5] and
[2, 1, 3, 4], then the output is 1 because the same value 3 appears at the
same position 2 of both lists.

         Input1: list  Input2: list Output: int
Test 1:  [1, 2, 3, 5]  [2, 1, 3, 4]           1
Test 2:  [1, 2, 3, 5]  [5, 2, 3, 1]           2

Right Position: Easy

In [29]:
def Right_Position(list1, list2):
    count = 0
    for i in list1:
        if i == list2[list1.index(i)]:
            count = count + 1
    return count

In [30]:
eb[8]

Given two equal length lists of unique numbers, write a function to return
the number of items in these two lists that have the same values but are at
the different positions. For example, if these two lists are [1, 2, 3, 5]
and [2, 1, 3, 4], then the output is 2 because the same values 1 and
2 appear at the different positions.

         Input1: list  Input2: list Output: int
Test 1:  [1, 2, 3, 5]  [2, 1, 3, 4]           2
Test 2:  [1, 2, 3, 5]  [1, 2, 3, 4]           0

Wrong Position: Easy

In [43]:
def Wrong_Position(list1, list2):
    count = 0
    for a in list1:
        for b in list2:
            if b == a and list2.index(b) != list1.index(a):
                count = count + 1
    return(count)

In [45]:
eb[9]

Given a list of unique numbers, write a function to return the position
index of the smallest number. For example, if the given list is [3, 1, 5, 0,
2, 6], then the returned index is 3, because the smallest number 0 appears
at position 3.

               Input1: list Output: int
Test 1:     [0, 1, 3, 2, 5]           0
Test 2:  [3, 2, 5, 1, 4, 0]           5
Test 3:     [1, 2, 0, 3, 5]           2

Minimum Number Index: Medium

In [46]:
def min_numb(list1):   
    return list1.index(min(list1))

In [47]:
eb[10]

Given a list of numbers as the first input argument, and an integer k as
the second argument, write a function that returns a list of the k smallest
numbers of the list. Items in the returned list is ranked from the smallest
to the largest. For example, if the list is [0, 1, 2, 3, 2, 5], and the
integer is k=3, then the returned list is [0, 1, 2]. If k is larger than
the length of the list, then return the whole list.

               Input1: list Input2: int        Output: list
Test 1:  [0, 1, 2, 3, 2, 5]           3           [0, 1, 2]
Test 2:  [0, 1, 2, 3, 2, 5]           1                 [0]
Test 3:  [0, 1, 2, 3, 2, 5]           8  [0, 1, 2, 2, 3, 5]

K Smallest: Medium

In [48]:
def K_Smallest(list1, n):
    if n > len(list1):
        return sorted(list1)
    else:
        list1 = sorted(list1)
        return list1[0:n]

In [49]:
eb[11]

Write a function to find the longest common prefix string amongst a list of
strings. For example, the input argument is ["flower", "flow", "flight"],
the output is "fl". If there is no common prefix among the input strings,
the output is an empty string.

                                   Input1: list Output: str
Test 1:            ['flower', 'flow', 'flight']          fl
Test 2:  ['flower', 'flow', 'flight', 'inflow']

Common Prefix: Hard

In [51]:
def Common_Prefix(list1):
    return os.path.commonprefix(list1)

In [52]:
eb[12]

Write a function to find the Nth number in the Fibonacci Sequence, In the
Fibonacci Sequence, the next number is the sum of the two numbers before it,
i.e. 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ... For example, if N=0, then the
output is 0; if N=1 or N=2, then the output is 1; if N=3, then the output is
2; if N=4, then the output is 3.

        Input1: int            Output: int
Test 1:           4                      3
Test 2:          20                   6765
Test 3:         100  354224848179261915075

Fibonacci: Medium

In [53]:
fib = lambda n:reduce(lambda x,n:[x[1],x[0]+x[1]], range(n),[0,1])[0]

In [58]:
eb[13]

Create a function to transform the time data as a string of "XX:XX:XXam" or
"XX:XX:XXpm" to the number of seconds counted from 12:00am. For example, the
input of "10:35:29am" gives an output of 38129; the input of 06:21:33pm gives
an output of 66093.

        Input1: str Output: int
Test 1:  10:35:29am       38129
Test 2:  06:21:33pm       66093

Time Conversiont: Easy

In [82]:
def Time_Conversiont(string):
    
    morning_seconds = 0
    seconds = [3600, 60, 1]

    if string[-2:]== 'pm':
        morning_seconds = 43200
    
    string = string[:-2] + ' ' 
    placeholder_list=[]
    index = 0
    
    while index != -1:
        index = string.find(':')
        placeholder_list.append(int(string[:index]))
        string = string[index+1:]
        
    array = np.array(placeholder_list)
    array2 = np.array(seconds)
    return sum(array*array2) + morning_seconds

In [84]:
eb[14]

Reverse the digits of an integer. For example, if the input is 123, then the
output is 321; if the input is -456, then the output is -654.

        Input1: int Output: int
Test 1:         123         321
Test 2:        -456        -654

Reverse Digits: Easy

In [85]:
def RD(n):
    if n < 0:
        n = n * -1
        n = int(str(n)[::-1])
        n = n * -1
        return n
    else:
        return int(str(n)[::-1])

In [86]:
eb[15]

Create a function to remove all duplicates in a list, so that the output is a
list containing the unique values of the original list. For example, if the
input list is [2, 3, 5, 2, 3, 4, 7], then the output must be [2, 3, 5, 4, 7].

                                Input1: list             Output: list
Test 1:                [2, 3, 5, 2, 3, 4, 7]          [2, 3, 5, 4, 7]
Test 2:  [3.5, '4', '4', True, False, False]  [3.5, '4', True, False]

Unique: Easy

In [87]:
def Unique(x):
    return list(dict.fromkeys(x))

In [88]:
eb[16]

Create a function with the input argument to be a string. The output is the
longest word in the string. For example, the input is a string "NUS Business
School is a magical place", then the output is the string "Business". If
there are two or more words with the same maximum length, then return the
first one.

                                    Input1: str Output: str
Test 1:  NUS Business School is a magical place    Business
Test 2:           Simple is better than complex     complex

Longest Word: Medium

In [89]:
def Longest_word2(string):
    return max(string.split(), key=len)

In [90]:
eb[17]

Create a function to return the length of the last word in a string. For
example, if the input is "NUS Business School is a magical place", then the
output is 5, the length of the last word "place".

                                    Input1: str Output: int
Test 1:  NUS Business School is a magical place           5
Test 2:      Take a sad song and make it better           6

Last Word: Easy

In [91]:
def last_word(string):
    return (len(string.split()[-1]))

In [92]:
eb[18]

Create a function to convert a list of scores to grades. Grade "A" accounts
for scores no lower than 90; grade "B" accounts for scores between 80 to 89;
and grade "C" accounts for scores between 70 and 79; scores lower than 70
are recorded as "D". For example, if the input is [85.5, 92, 45, 74, 79],
then the output is ["B", "A", "D", "C", "C"].

                   Input1: list               Output: list
Test 1:  [85.5, 92, 45, 74, 79]  ['B', 'A', 'D', 'C', 'C']

Grade: Easy

In [93]:
def Grade(list1):
    grades = []
    for i in list1:
        if i >= 90:
            grades.append('A')
        elif i >= 80:
            grades.append('B')
        elif i >= 70:
            grades.append('C')
        else:
            grades.append('D')
    return grades

In [94]:
eb[19]

Create a function to grade bubble cards. The first input argument is list of
answers to be graded, and the second input argument is a list of correct
answers. The function compares these two lists, and returns the proportion
of answers to be correct. For example, if the inputs are ["A", "C", "B", "D",
"A", "D"] and ["A", "B", "C", "D", "D", "D"], then the output is 0.5 because
half of the values are the same in these two lists.

,Input1: list,Input2: list,Output: float
Test 1:,"['A', 'C', 'B', 'D', 'A', 'D']","['A', 'B', 'C', 'D', 'D', 'D']",0.5
Test 2:,"['A', 'B', 'C', 'D', 'D', 'D']","['A', 'B', 'C', 'D', 'D', 'D']",1.0

Bubble Card: Easy

In [95]:
def Bubble_card(list1, list2):
    
    scores = zip(list1, list2)
    
    total = 0 
    
    for a, b in scores:
        if a == b:
            total = total + 1
    
    return total/len(list1)

In [96]:
eb[20]

For a sequence of numbers in a list, create a new list containing the
squares of all non-negative numbers, and cubes of all negative numbers.
For example, if the input is [1, 2, 3, -4, -5, 6], then the output is
[1, 4, 9, -64, -125, 36]. As a practice, please use list comprehension.

                 Input1: list              Output: list
Test 1:  [1, 2, 3, -4, -5, 6]  [1, 4, 9, -64, -125, 36]

Squares And Cubes: Easy

In [97]:
def Squares_And_Cubes(list1):
    new = []
    for i in list1:
        if i > 0:
            new.append(i**2)
        if i < 0:
            new.append(i**3)
    return new

In [98]:
eb[21]

Create a function to present the unique values in a given list and the number
of their appearances. The output of the function is a dictionary where the
keys are the unique values, and the associated values are the number of their
appearances. For example, if the inputs are ["A", "C", "B", "D", "A", "D"]
then the output is {"A": 2, "C": 1, "B": 1, "D": 2}.

                           Input1: list                      Output: dict
Test 1:  ['A', 'C', 'B', 'D', 'A', 'D']  {'A': 2, 'C': 1, 'B': 1, 'D': 2}

Value Counts: Medium

In [99]:
def Value_Counts(list1):
    dict1 = dict.fromkeys(list1)
    for i in dict1:
        count = 0
        for p in list1:
            if i == p:
                count = count + 1
            
        dict1[i] = count
    return dict1

In [100]:
eb[22]

Write a function to sort a list from the smallest value to the largest value.
For example, if the input is [3.5, 2.1, 2.1, 3.4, 2.8, 1.2], the output is
[1.2, 2.1, 2.1, 2.8, 3.4, 3.5]. As a practice, do not use the build-in
function sort.

,Input1: list,Output: list
Test 1:,"[3.5, 2.1, 2.2, 1.6, 0.8, 3.9, 2.5]","[0.8, 1.6, 2.1, 2.2, 2.5, 3.5, 3.9]"

Sort: Hard

In [103]:
def My_Sort(list1):
    
    sorted_list = []

    while len(list1)>0:
    
        minimum = list1[0]  
    
        for i in list1: 
            if i < minimum:
                minimum = i
        sorted_list.append(minimum)
        list1.remove(minimum)    

    return sorted_list

In [109]:
eb[23]

Write a function with one argument n, to return the nth row of the Pascal's
triangle. For example, if n=1, the output is [1]; if n=2, then the output is
[1, 1]; if n=3, then the output is [1, 2, 1]; if n=4, then the output is [1,
3, 3, 1].

        Input1: int                            Output: list
Test 1:           3                               [1, 2, 1]
Test 2:           5                         [1, 4, 6, 4, 1]
Test 3:          10  [1, 9, 36, 84, 126, 126, 84, 36, 9, 1]

Pascal Triangle: Hard

In [112]:
def pascal_triangle(n):
    trow = [1]
    y = [0]
    pascals = []
    for x in range(max(n,0)):
        pascals.append(trow)
        trow=[l+r for l,r in zip(trow+y, y+trow)]
    
    return pascals[n-1]

In [113]:
eb[24]

There are n stairs, a person standing at the bottom wants to reach the top
of the stairs. This person can climb either 1 stair or 2 stairs at a time.
Write a function with the input argument n to count the number of ways, the
person can reach the top. For example, if n = 2, this person has 2 ways to
getto the top; if n = 3, this person has 3 ways to get to the top; if n = 4,
this person has 5 ways to get to the top.

        Input1: int Output: int
Test 1:           2           2
Test 2:           5           8
Test 3:          11         144

Stairs: Hard

In [117]:
def Stairs(s): 
    return fib(s + 1) # calls the function written in eb[12]

In [118]:
eb[25]

Given positive integers n and m as input arguments, write a function to
select all positive integers that are no larger than n and the summations
of all digits are the same as m. Return these selected integers as a list.
For example, if n = 30 and m = 5, the returned output is [5, 14, 23], if
n = 50 and m = 9, then returned output is [9, 18, 27, 36, 45]

        Input1: int Input2: int         Output: list
Test 1:          30           5          [5, 14, 23]
Test 2:          50           9  [9, 18, 27, 36, 45]

Digit Sum: Medium

In [119]:
def Digit_sum(n, m):
    
    if n < 10:
        return list(m)
    if m < 10:
        output_list = [m]
    else:
        output_list = []
    
    for i in list(range(10, n+1)):
        number = str(i)
        number_digits = []
        for p in number:
            number_digits.append(int(p))
        count = 0
        for q in number_digits:
            count = count + q
        if count == m:
            output_list.append(i)
    return output_list

In [120]:
eb[26]

Given a list of numbers as the input argument, write a function to return
a list of numbers that only appear once in the list. For example, if the
input is [1, 2, 1, 4, 3, 2, 0], then the  output is [4, 3, 0]; if the input
is [1.5, 2, 2.0, 3.5, 1.5, 2], then the output is [3.5].

                       Input1: list Output: list
Test 1:       [1, 2, 1, 4, 3, 2, 0]    [4, 3, 0]
Test 2:  [1.5, 2, 2.0, 3.5, 1.5, 2]        [3.5]

One Appearance: Medium

In [ ]:
def One_Appearance(list1):
    unique_values = dict.fromkeys(list1)
    
    for value in unique_values:
        count = 0
        for i in list1:
            if i == value:
                count = count + 1
        
        unique_values[value] = count
    
    one_appearance = []
    
    for key in unique_values:
        if unique_values[key] == 1:
            one_appearance.append(key)
        
    return one_appearance

In [121]:
eb[27]

Given two strings as the input arguments, write a function to return the
longest substring shared by these two input strings. For example, if the
inputs are "cdbabcde" and "babcffg", then the output is "abc"; if the
inputs are "This is an apple" and "Check the app store", then the output
is "app".

              Input1: str          Input2: str Output: str
Test 1:          cdeabcde              babcffg         abc
Test 2:  This is an apple  Check the app store         app

Longest Substring: Hard

##### I am not doing this one. This question sucks.

In [122]:
eb[28]

Given a string containing different types of parentheses, write a function
to check if these parentheses matches. For example, if the input is "(this
is {a test})", the output is True; if the input is "(this is {a test)}",
then the output is False.

                Input1: str Output: bool
Test 1:  (this is {a test})         True
Test 2:  (this is {a test)}        False

Match Parentheses:  Very Hard

This is the solution that I am most proud of.

In [123]:
def Match_Parentheses(string):

    opens = ['(','[', '{']
    closes = [')', ']', '}']
    
    just_brackets = []
    
    for i in string:
        if i in opens or i in closes:
            just_brackets.append(i)
            
    brackets_stack = []
    
    for i in just_brackets:
        if i in opens:
            brackets_stack.append(i)
        elif i in closes:
            if len(brackets_stack) == 0:
                return False
            else:
                if i == ')' and brackets_stack[-1] == '(':
                    brackets_stack = brackets_stack[:-1]
                if i == ']' and brackets_stack[-1] == '[':
                    brackets_stack = brackets_stack[:-1]
                if i == '}' and brackets_stack[-1] == '{':
                    brackets_stack = brackets_stack[:-1]
        
    if len(brackets_stack) == 0:
        return True
    else:
        return False

In [124]:
eb[29]

Given a list of numbers as the input argument, write a function to move all
zeros to the end of the list, while the order of the other numbers remain
the same. For example, if the input is [0, 1, 0, 3, 12], then the output is
[1, 3, 12, 0, 0].

                    Input1: list             Output: list
Test 1:         [0, 1, 0, 3, 12]         [1, 3, 12, 0, 0]
Test 2:  [-4, -2, 1, 0, 0, 2, 0]  [-4, -2, 1, 2, 0, 0, 0]

Move Zeros: Easy

In [125]:
def move_zeros(list1):
    
    new_list = []
    zeros = []
    
    for i in list1:
        if i != 0:
            new_list.append(i)
        else:
            zeros.append(i)
            
    new_list.extend(zeros)
    
    return new_list

In [102]:
eb[30]

Given two lists of sorted numbers as the input arguments, write a function to
merge these two lists as one list, with all numbers sorted. For example, if
the inputs are [1, 2, 4] and [1, 3, 4], then the output is [1, 1, 2, 3, 4, 4].
As a practicce, do not use the built-in method sort.

        Input1: list Input2: list        Output: list
Test 1:    [1, 2, 4]    [1, 3, 4]  [1, 1, 2, 3, 4, 4]

Merge Lists: Easy

In [110]:
def Merge_lists(list1, list2):
    out = list1 + list2
    return My_Sort(out) # calls the function written in eb[22]

In [126]:
eb[31]

Given a list representing the prediction of stock prices in a number of days,
design a function to find the maximum profit. For example, if the input list
is [7, 1, 5, 3, 6, 4] then the profit is 4+3=7, because you can buy the stock
on day 2 (price=1) and sell it on day 3 (price=5) so the profit is 4, then you
can buy on day 4 (price=3) and sell it on day 5 (price=6) so the profit is 3.
Note that you can make the buy and sell transcations in the same day, but you
cannot buy the stock again before selling it, so if the given input list is
[1, 2, 3, 4, 5] then the output is 5-1=4, or (2-1)+(3-2)+(4-3)+(5-4)=4.

               Input1: list Output: int
Test 1:  [7, 1, 5, 3, 6, 4]           7
Test 2:     [1, 2, 3, 4, 5]           4
Test 3:     [7, 6, 4, 3, 1]           0

Trading Decisions: Hard

##### I was unable to do this one

In [136]:
eb[32]

At a lemonade stand, each lemonade costs $5. Customers are standing in a queue
to buy from you, and order one at a time. Each customer will only buy one
lemonade and pay with either a $5, $10, or $20 bill, and these payments are
kept in a listas the input argument. You must provide the correct change to
each customer, so that the net transaction is that the customer pays $5. Note
that you don't have any change in hand at first. Return True if and only if
you can provide every customer with the correct change, otherwise False. For
example, if the input is [5, 5, 5, 10, 20], then the output is Ture, because
we collected three $5 bills to pay back the subsequent customers. If the input
is [10, 10], then the output is False, because there is no way to pay back
the customers.

                  Input1: list Output: bool
Test 1:      [5, 5, 5, 10, 20]         True
Test 2:               [10, 10]        False
Test 3:  [5, 10, 20, 5, 5, 10]        False

Lemonade Stand: Hard

##### I was unable to do this one too

In [3]:
eb[33]

An array is monotonic if it is either monotone increasing or monotone
decreasing. A list a is monotone increasing if for all i <= j, a[i] <= a[j].
A list a is monotone decreasing if for all i <= j, a[i] >= a[j]. Write a
function to return Trueif and only if the given input list is monotonic. For
example, if the input is [1,2,2,3], then the output is True. If the input is
[1,3,2], then the output is False.

         Input1: list Output: bool
Test 1:  [1, 2, 2, 3]         True
Test 2:  [6, 5, 4, 4]         True
Test 3:     [1, 3, 2]        False

Monotnoe Trend: Medium

In [34]:
def Monotone_trend(list1):
    if list1[0] < list1[-1]:
        count = 0
        for i in range(0, len(list1)-1):
            if list1[i] <= list1[i+1]:
                count = count + 1
        if count == (len(list1)-1):
            return True
        else:
            return False
    else:
        count = 0
        for i in range(0, len(list1)-1):
            if list1[i] >= list1[i+1]:
                count = count + 1
        if count == (len(list1)-1):
            return True
        else:
            return False

In [36]:
eb[34]

Given a nested list of integers, implement an iterator to flatten it. Each
element is either an integer, or a list -- whose elements may also be integers
or other lists. For example, if the input is [[1,1],2,[1,1]], then the output
is [1, 1, 2, 1, 1]. If the input is [1,[4,[6]]], then the output is [1, 4, 6].

                Input1: list     Output: list
Test 1:  [[1, 1], 2, [1, 1]]  [1, 1, 2, 1, 1]
Test 2:        [1, [4, [6]]]        [1, 4, 6]

Flatten Lists: Hard

In [56]:
def Flatten_Lists(list1):
    new_list = []

    for i in list1:
        if type(i) == list:
            new_list.extend(Flatten_Lists(i))
        else:
            new_list.append(i)
            
    return new_list

In [58]:
eb[35]

Given a list of daily temperatures T, return a list such that, for each day
in the input, tells you how many days you would have to wait until a warmer
temperature. If there is no future day for which this is possible, put 0
instead. For example, given the list of temperatures T = [73, 74, 75, 71,
69, 72, 76, 73], your output should be [1, 1, 4, 2, 1, 1, 0, 0].

                             Input1: list              Output: list
Test 1:  [73, 74, 75, 71, 69, 72, 76, 73]  [1, 1, 4, 2, 1, 1, 0, 0]

Warmer Temperature: Medium

In [82]:
def Warmer_Temperature(list1):   
    
    out = list(np.zeros(shape= len(list1)))
    
    stack = []
    
    for i in range(len(list1)):
        
        while len(stack)>0 and list1[i] > list1[stack[-1]]: 
            cur = stack.pop()
            out[cur] = i - cur
            
        stack.append(i)
        
    return out